<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    >
    {{tetew}}
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { example } from 'src/service/example';

export default defineComponent({
  name: 'IndexPage',
  data(){
    return {
      tetew: ""
    }
  },
  methods: {
    getSomething() {
      const res = example()
      res.then((e) => {
        this.tetew = e
      })
    }
  },
  mounted() {
    this.getSomething()
  }
})
</script>
