<template>
  <q-layout view="lHh Lpr lFf">
    <header :class="isOnTop ? '' : 'fixed-nav'">
      <div class="logo">
        <img src="../assets/img/logo.png" alt="mito-adhiguna-kencana-logo" />
      </div>
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav class="nav-bar" :style="isOnTop ? 'top:80px' : 'top:60px'">
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Product</a>
          </li>
          <li>
            <a href="">Gallery</a>
          </li>
          <li>
            <a href="">News</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
          <li>
            <q-btn
              v-if="!showDemoBtn"
              outline
              color="blue"
              text-color="black"
              label="Free Demo"
            />
          </li>
        </ul>
      </nav>
      <q-btn
        v-if="showDemoBtn"
        outline
        color="blue"
        class="q-mr-md"
        text-color="black"
        label="Free Demo"
      />
    </header>

    <q-page-container>
      <router-view />
    </q-page-container>
    <div style="height:1000px;width:30px"></div>
  </q-layout>
</template>

<script>
import { defineComponent } from "vue";
import { Screen } from "quasar";

export default defineComponent({
  name: "MainLayout",
  data() {
    return {
      onTop: true,
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  mounted() {
    const hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", () => {
      const navBar = document.querySelector(".nav-bar");
      navBar.classList.toggle("active");
    });
  },
  computed: {
    isOnTop: {
      get() {
        return this.onTop;
      },
      set(val) {
        if (val === 0) {
          this.onTop = true;
        } else {
          this.onTop = false;
        }
      },
    },
    showDemoBtn() {
      return Screen.width >= 900;
    },
  },
  methods: {
    handleScroll(e) {
      const scrollTop = window.scrollY;
      this.isOnTop = scrollTop;
    },
  },
});
</script>
<style>
header {
  z-index: 2;
  max-width: 100%;
  width: 100vw;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.hamburger {
  display: none;
}
.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar ul li a {
  display: block;
  color: black;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}
.fixed-nav {
  position: fixed;
  background-color: #fff;
  height: 60px;
  transition: 0.8s;
}

.fixed-nav.nav-bar ul li a {
  padding: 10px 25px;
}
.logo img {
  max-height: 40px;
  margin-left: 10px;
}

@media only screen and (max-width: 1020px) {
  header {
    padding: 0 25px;
    transition: 0.2s;
  }
  .nav-bar ul li a {
    display: block;
    color: black;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    z-index: 3;
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #2c2b2b;
    margin: 6px 0;
  }

  .nav-bar {
    position: absolute;
    height: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 100%;
    background-color: #fefefe;
    transition: 0.5s;
    overflow: hidden;
  }
  .nav-bar.active {
    z-index: inherit;
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}
</style>
